<!-- Header -->
<main class="container">
  <header class="page-header text-center">
    <h1 class="text-danger">Error: 404 - Not Found!</h1>
  </header>
  <p>
    The page you requested couldn't be found.
    <a href="{{ backUrl }}">Go back?</a>
  </p>
</main>
